<!doctype html>
<html>
<head>
  <title>Leaky</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <%= css :app, :media => 'screen' %>
  <%= js  :app %>
</head>

<body>
  <header class="gradient">
    <div class="wrapper">
      <div class="logo">
        <a href="http://localhost:3000/"><img src="/favicon.ico" border="0" width="32" /></a>
      </div>
      <div class="topright">
        <% if current_user %>
          <% gra = get_gravatar_of(current_user.email) %>
          <div class="avatar">
            <a href="/logout"><img src="<%= gra %>" height="20" /></a>
          </div>
        <% end %>
        <nav class="menu">
          <% if current_user.nil? %>
            <li><a href="/">Home</a></li>
          <% end %>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/snippets">Code Snippets</a></li>
          <li><a href="/contact">Contact</a></li>
        </nav>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <div id="flash_container">
      <% if (!@flash.nil? && defined? @flash) %>
        <% @flash.each do |key, msg| %>
          <div id="<%= "flash_#{key}" %>" class="flashy"><%= msg %></div>
        <% end %>
      <% end %>
    </div>
    <article>
      <%= yield %>
    </article>
    <br clear="all" />
  </div>
  <footer class="gradient">
    <div class="wrapper">
      I'm a footer
    </div>
  </footer>
</body>
</html>
